#root {
    height: 100%;
}

.ant-layout {
    height: 100%;
}

.module {
    padding: 1%;
    height: 100vh;
}

.menu {
    height: 100vh;
}

.app-container {
    height: 100%;
}

.leaflet-container {
    height: 100%;
}

.ant-menu {
    height: 100%;
}

.ant-layout-content {
    padding: 1%;
}
