@import '~antd/dist/antd.css';

/*TODO trocar para less*/

.app {
  height: 100vh;
}

.app-sider {
  background: #001529;
  height: 100%;
}

.app-menu {
  height: 100%;
  border-right: 0
}

.app-content {
  background: #fff;
  padding: 24px;
  margin: 0;
  min-height: 280px
}

.app-content-area {
  padding: 0 24px 24px
}

.app-breadcrumb {
  margin: 16px 0
}
